@import url("font/primary-iran-yekan.css");
@import url("font/secondary-iran-yekan.css");
/*@font-face{
	font-family: yekan;
	src:url("font/yekan-400.ttf") format("truetype"),
		url("font/yekan-400.woff") format("woff"),
		url("font/yekan-400.woff2") format("woff2"),
		url("font/yekan-400.eot")format("eot");
}*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	}
body {
	line-height: 24px;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	visibility: visible;
	font-family: "primary-font", "segoe ui", "tahoma";
	direction: rtl;
	color: #222222;
	
	
}
.ltr-text {
	display: inline-block;
	direction: ltr;
}
/* .primary-font {
	font-family: "primary-font", "segoe ui", "tahoma" !important;
} */
/* .secondary-font {
	font-family: "secondary-font", "primary-font", "segoe ui", "tahoma" !important;
} */


@media only screen and (max-width: 767px) {
	.dashboard_tab_button {
		margin-bottom: 20px;
	}
}
.dashboard_tab_button{
	background-color: white;
    border-radius: 7px;
    border: 1px solid #ededed;
}
.dashboard_tab_button ul  {
	height: 328px;
}
.dashboard_tab_button ul li {
	margin-bottom: -38px;
	line-height: 1.85;
	margin-top: 40px;
}
.dashboard_tab_button ul li a {
	font-size: 16px;
	color: #000;
	font-weight: 500;
	text-align: center;
	
}

.dashboard_tab_button ul li i{
	font-size: 29px;
    position: absolute;
    right: 60px;
	
	}

.dashboard_tab_button ul li a:hover {
	
	color: #c40316;
}
.dashboard_tab_button ul li  .active{
	color: #c40316;
}
.dashboard_content{
	background-color: white;
	border-radius: 7px;
    border: 1px solid #ededed;
}
.dashboard_content form{
	padding: 10px;
}
.dashboard_content h3 {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 15px;
	padding: 5px;
}
.dashboard_content h4 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 10px;
}
.dashboard_content button {
	color: #000;
	font-weight: 500;
	border: 0;
	
	padding: 0 25px;
	height: 35px;
	line-height: 35px;
	border-radius: 4px;
	
}

.dashboard_content p a {
	color: #c40316;
	font-weight: 500;
}
.dashboard_content .tab-pane{
	padding: 7px;
}
.dashboard_content .deletelink{
	margin-right: 15px;
}
.dashboard_content a {
	color: #000;
}
.dashboard_content  a:hover {
	
	color: #c40316;
}
.menu{
	position: absolute;
	right: 0;
	
}
.formcontent{
	position: absolute;
    left: 13px;
}